.typewriter-container{
  margin-top: 8rem;
  max-width: 50vw;
}
.typewriter-text{
  outline: none;
  resize: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.typewriter-text-container{
  max-width: 50vw !important;
  height: 50%;
}
.btn-typewriter{
  width: 35rem;
  margin-top: 1rem;
}
