
.typewriter-container{
  margin-top: 8rem;
  max-width: 50vw;
}
.container-fluid{
color: white;
}
.typewriter-text{
  outline: none;
  resize: none;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 3rem;
  position: absolute;
  content: attr(data-value);
  pointer-events: none;
  opacity: 0.6;
}
.typewriter-text-input{
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 3rem;
  color: white!important;
}
.typewriter-text-container{
  max-width: 50vw !important;
  height: 50%;
  border: solid 2px #007bff;
  border-radius: 0.25em;
  position: relative;

}

.btn-typewriter{
  width: 35rem;
  margin-top: 1rem;
}
.placeholder
{
    position: absolute;
    left: 3px;
    top: 3px;
    content: attr(data-value);
    pointer-events: none;
    opacity: 0.6;
    text-align: left;
    z-index: 1;
}

