.container-fluid{
  height: 100vh;

}
.container{
  height: 100vh;
}
.header-result-box{
  border: 1px solid gray;
  border-radius: 3px;
}

.white-background{
  background:rgba(255, 255,255, 0.9);    /* Global White background command for use*/
}
html{
  scroll-behavior: smooth;
}



@keyframes slideFromTop {
  from {
    margin-top:-50%;
  }
  /* to {
    top:0%;
  } */
}
@keyframes rotate {
  from {transform: rotateY(0deg);

    background-image: url("https://montkompagniet.dk/media/cache/product_original/product-images/22/6/1000-krone%20revers1559910904.4615.jpg?1559910904");

  }
  to {transform: rotateY(360deg);

    background-image: url("https://montkompagniet.dk/media/cache/fb_image_thumb/product-images/22/6/1000-krone%20avers1559910904.2968.jpg?1559910904");

  }
}
@keyframes slideFromLeft{
  from{margin-left:-50%;}
  to{margin-left:50%;}
}
@keyframes slideFromRight{
  from{margin-right:-50%;}
  to{margin-right:50%;}
}
@keyframes slideFromBottom{
  from{margin-bottom:-50%;}
  to{margin-bottom:50%;}
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1.5px) rotate(-1deg); }
  20% { transform: translate(-2px, -1px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(0px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 1px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
