[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Anil Ferhat Ceran
	email = 69785410+anilferhatceran@users.noreply.github.com
