<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark header-container">
  <a class="navbar-brand" routerLink="/">Website Services</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/"class="nav-item nav-link active">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link disabled">Name Generator</a>
      <a class="nav-item nav-link disabled">Password Generator</a>
      <a routerLink="/number-generator"class="nav-item nav-link">Number Generator</a>
      <a routerLink="/coin-flip"class="nav-item nav-link">Coin Flip</a>
      <a routerLink="/dice-roll"class="nav-item nav-link">Dice Roll</a>
      <a class="nav-item nav-link disabled">Website Review Checker</a>
      <a class="nav-item nav-link disabled">WPM Typewriter</a>
      <a class="nav-item nav-link disabled">YouTube to MP3/MP4</a>
    </div>
  </div>
</nav>
