<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark header-container">
    <a class="navbar-brand" routerLink="/">Website Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/"class="nav-item nav-link active">Home <span class="sr-only"></span></a>
        <a routerLink="/name-generator" class="nav-item nav-link">Name Generator</a>
        <a routerLink="/password-generator" class="nav-item nav-link">Password Generator</a>
        <a routerLink="/number-generator"class="nav-item nav-link">Number Generator</a>
        <a routerLink="/coin-flip"class="nav-item nav-link">Coin Flip</a>
        <a routerLink="/dice-roll"class="nav-item nav-link">Dice Roll</a>
        <a routerLink="/webreviewcheck" class="nav-item nav-link">Website Review Checker</a>
        <a routerLink="/typewriter" class="nav-item nav-link">WPM Typewriter</a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0 mr-sm-2" type="button" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
      </form>

      <div *ngIf="this.userChecked == true; then showLogin else dontShowLogin"></div>
      <ng-template #showLogin>
      <form class="form-inline my-2 my-lg-0">
        <button id="btnLogin"class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#loginModal">Login</button>
      </form>
    </ng-template>
    <ng-template #dontShowLogin></ng-template>

      <div *ngIf="this.userChecked == false; then showLogout else dontShowLogout"></div>
      <ng-template #showLogout>
        <form  class="form-inline my-2 my-lg-0">
        <button id="btnLogout" class="btn btn-outline-light my-2 my-sm-0 btn-danger"type="submit" (click)="onSubmitLogout()">Logout</button>
      </form>
      </ng-template>
      <ng-template #dontShowLogout></ng-template>

    </div>
  </nav>
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signUpModalTitle">Create Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createUserForm" (ngSubmit)="onSubmitCreate()">
            <div class="form-group">
              <label for="createAccEmail" class="col-form-label">Email:</label>
              <input formControlName="userEmail" type="email" class="form-control" id="createAccEmail" placeholder="Enter Email">
              <span class="error" *ngIf="this.createUserForm.invalid && this.createUserForm.touched">Email is required</span>
            </div>

            <div class="form-group">
              <label for="createAccPass" class="col-form-label">Password:</label>
              <input formControlName="passwordHash" type="password" class="form-control" id="createAccPass" placeholder="Enter Password">
            </div>

            <div class="form-group">
              <label for="confirmAccPass" class="col-form-label">Confirm Password:</label>
              <input type="password" class="form-control" id="confirmAccPass" placeholder="Confirm Password">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginUserForm" (ngSubmit)="onSubmitLogin()">
            <div class="form-group">
              <label for="loginEmail" class="col-form-label">Email:</label>
              <input formControlName="userEmail" type="email" class="form-control" id="loginEmail" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="loginPass" class="col-form-label">Password:</label>
              <input formControlName="passwordHash" type="password" class="form-control" id="loginPass" placeholder="Enter Password">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

