<div class="container-fluid d-flex align-items-center justify-content-center ">
  <div class="col-md-2 name-savebox-container white-background">
    <div class="name-box-container">
      <h5>
        Names saved by the user.
      </h5>

      <h6>
        Max 10 names can be saved at the same time.
      </h6>
    </div>
  </div>

  <!--Denne boks skal op og ligge på den boks hvor der skal generates-->
  <div class="name-gen-sname-container white-background" >
    <div class="col-md card-info">
      <ul class="fs-6">
        <p>Choose male or female to get names specified to Gender.
          <br>
          You can also choose random genders, if you so desire.
        </p>
      </ul>

        <!-- <div class="name-gender-display-result d-flex flex-column align-items-center">
          <button class="btn-gender btn-primary btn-lg dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Male or Female name?
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="submit" id="maleNameChoiceID" class="dropdown-item">Male</button>
            <button type="submit" id="femaleNameChoiceID" class="dropdown-item" >Female</button>
          </div>
        </div> -->

        <h5>Please click twice on the "Generate Random Names" button!</h5>
        <form [formGroup]="nameGenForm"  class="row form-group d-flex justify-content-center mb-2">
          <div class="col-md-6 col-sm-12">
            <input formControlName="maleNameChoice" type="checkbox" class="form-check-input" id="maleNameChoiceID">
            <label class="form-check-label" for="maleNameChoiceID">Male Name</label>
          </div>
          <div class="col-md-6 col-sm-12">
            <input formControlName="femaleNameChoice" type="checkbox" class="form-check-input" id="femaleNameChoiceID">
            <label class="form-check-label" for="femaleNameChoiceID">Female Name</label>
          </div>

          <div *ngIf="this.maleName.checked; else elseBlock">
            <!-- <div *ngFor="let maleNames of this.newStr2">
              {{maleNames}}

            </div> -->
            <div>
              <input id="first-name" value="{{this.newStr2[0]}}">
              <button class="btn btn-primary mb-3" (click)="postName()">Save Name</button>
            </div>

            <div>
              <input id="second-name" value="{{this.newStr2[1]}}">
              <button class="btn btn-primary mb-3" (click)="postName()">Save Name</button>
            </div>

            <div>
              <input id="third-name" value="{{this.newStr2[2]}}">
              <button class="btn btn-primary mb-3" (click)="postName()">Save Name</button>
            </div>

            <div>
              <input id="fourth-name" value="{{this.newStr2[3]}}">
              <button class="btn btn-primary mb-3" (click)="postName()">Save Name</button>
            </div>

            <div>
              <input id="fifth-name" value="{{this.newStr2[4]}}">
              <button class="btn btn-primary mb-3" (click)="postName()">Save Name</button>
            </div>

            <button class="btn btn-primary">Save All Names</button>
          </div>
          <ng-template #elseBlock>
            <div *ngFor="let femaleNames of this.newStr2">
              {{femaleNames}}
            </div>
          </ng-template>





          <button type="submit" class="btn-name-gen btn-primary btn-lg fs-4 fw-bold" (click)="getNames()">Generate Random Names</button>
          <!-- <button type="submit" class="btn btn-primary btn-typewriter" >Generate Names</button> -->
      </form>
        <!--FormGroup hvor det generedede navn skal være.-->
        <!-- <form [formGroup]="nameGenForm" class="row form-group">
          <input formControlName="ranGenName" type="text" class="form-control">
        <div class="name-gen-display-result d-flex flex-column align-items-center">

        </div>
        </form> -->

      </div>
    </div>
</div>




<!--

  <div class="dropdown">
    <p class="h5">Choose male or female to get names specified to Gender.
      <br>
      You can also choose random genders, if you so desire.
    </p>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Male or Female name?
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>

    <button type="button" class="btn-name-gen btn-primary btn-lg fs-4 fw-bold" >Generate Random Names</button>

  </div>
-->
