  
<div class="container-fluid d-flex align-items-center justify-content-center ">
  <div class="row">
      <div class="col password-container white-background"> 
        <input type="text" class="form-control" id="exampleInputRandomGenPassword" placeholder="Random Password" >
      <div>
       <button type="button" class="btn-password-gen btn-primary btn-lg fs-4 fw-bold" >Generate Password</button>
      </div>
      <div class="password-length-box-container">
        <h5>
          Password Length
        </h5>
        <input type="text" class="form-control" id="exampleInputPasswordLength" placeholder="16"> <!--Vi skal sætte ind så der kommer en error hvis man skriver bogstaver/symboler, i stedet for tal-->
        <p class="fw-light fs-6">
          Max length 10,000 characters
        </p>
      </div>
      </div>      <!-- Skal kigges på det her problemmer med responsive design, Anil i need youuuu --- lel fixede det lidt-->
    </div>
    <div class="row" >
     <div class="password-gen-info-box-container align-items-center justify-content-center white-background" > 
      
        <div class="col-12 card-info">
          
          <h3 class="text-uppercase fs-5 fw-bolder">
            Tips For Creating and Maintaining Strong Passwords
          </h3>
          <ul class="list-unstyled fs-6 fw-normal">
            <li>Creating a strong password is necessary for securing your online accounts and protecting your data from common attack methods. Here are a few guidelines you can follow to increase your password’s strength:</li>
          </ul>
          <ul class="fs-6">
            <li> Each password should be a minimum of 8 characters long. The longer, the better</li>
            <li> Use a mixture of uppercase letters, lowercase letters, and numbers. For increased security, you can also utilize commonly accepted symbols.</li>
            <li> Your password should be unique and unrelated to any personal information.</li>
            <li> Generate different passwords for different accounts and devices. Try not to use the same one twice.</li>
            <li> Set reminders to change your passwords regularly, especially for important accounts and information.</li>
            <li> Store your passwords in a secure location. Create storage backups as well.</li>
            <li> Store your passwords in a secure location. Create storage backups as well.</li>
            <li class="text-decoration-underline fw-bold"> Don't tell anyone your password.</li>
          </ul>
        </div>
      </div>
    </div>
</div>

    
  
