
.container-fluid{

  background-image: url("https://assets.pcmag.com/media/images/591665-how-to-create-a-random-password-generator.jpg?thumb=y&width=810&height=456;");
  background-repeat: no-repeat;
  background-size: cover;

}
.password-container{
  border-radius: 7px;
  padding: 2rem;
  width: 25vw;
  margin-right: 3.75rem;

}
.password-gen-info-box-container{
  color: black;
  border-radius: 7px;
  padding: 1rem;
  width: 25vw;
  margin-top: 3.5rem;
  margin-right: 2rem;
}
li{
  padding-bottom: 0.8rem;
}
d-gen{
  margin-top: 1rem;
  width: 100%;
}
.password-length-box-container{
  margin-top: 2rem;
}
