<div class="container-fluid d-flex align-items-center justify-content-center ">
  <div class="row">
    <div class="col password-container white-background">
        <input type="text" class="form-control" id="generated-password" placeholder="GeneratedPassword" >
        <button type="button" class="btn-password-gen btn-primary btn-lg fs-4 fw-bold" >Generate Password</button>

      <div class="password-length-box-container">
        <label class="fs-5">
          Password Length
        </label> <!--Firefox tillader at man kan skrive bogstaver, selvom man har sat input som number, lidt irreterende-->
        <input type="number" class="form-control"  id="character-lenght" placeholder="0"> <!--Vi skal sætte ind så der kommer en error hvis man skriver bogstaver/symboler, i stedet for tal-->
        <span class="fw-light fs-6 fst-italic">
          Max length 275 characters
        </span>
      </div>
    </div>                        <!-- Skal kigges på det her problemmer med responsive design,-->
  </div>
  <div class="row">
    <div class="col password-gen-info-box-container align-items-center justify-content-center white-background" >

      <div class="card-info">

        <h3 class="text-uppercase fw-bolder" style="font-size: 1.3vw;">
          Tips For Creating and Maintaining Strong Passwords
        </h3>
        <ul class="list-unstyled fw-normal" style="font-size: 0.9vw;">
          <p>Creating a strong password is necessary for securing your online accounts and protecting your data from common attack methods. Here are a few guidelines you can follow to increase your password’s strength:</p>
        </ul>
        <ul class style="font-size: 0.9vw;"> <!--Style Fontsize er midletigid løsning, skal finde noget andet som kan gøre det mere responsivt-->
          <li> Each password should be a minimum of 8 characters long. The longer, the better</li>
          <li> Use a mixture of uppercase letters, lowercase letters, and numbers. For increased security, you can also utilize commonly accepted symbols.</li>
          <li> Your password should be unique and unrelated to any personal information.</li>
          <li> Generate different passwords for different accounts and devices. Try not to use the same one twice.</li>
          <li> Set reminders to change your passwords regularly, especially for important accounts and information.</li>
          <li> Store your passwords in a secure location. Create storage backups as well.</li>
          <li> Store your passwords in a secure location. Create storage backups as well.</li>
          <li class="text-decoration-underline fw-bold"> Don't tell anyone your password.</li>
        </ul>
      </div>
    </div>    
  </div>

</div>

<!--TESTING PASSWORD GENERATOR FROM HERE AND DOWN-->
<div>
<form [formGroup]="passGeneratorTestForm">
 
    Password  
  <input formControlName="row_password" type="text" size="40">&nbsp;
  <button type="submit" class="button" (click)="generate(passGeneratorTestForm)"> generate </button>
</form>
</div>


   
