/*body {
  background-color: #333;
  margin: 0;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 2.5%;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: black;
}
*/
.container-fluid{
  
  background-image: url("https://assets.pcmag.com/media/images/591665-how-to-create-a-random-password-generator.jpg?thumb=y&width=810&height=456;");
  background-repeat: no-repeat;
  background-size: cover;
}
.password-container {
  /* background:rgba(255, 255,255, 0.9); */
  border-radius: 7px;
  padding: 2rem;
  width: 25%;
  height: 35%;
  margin-right: 1.75rem;
  
  /* margin-left: 20rem; */
}
.password-gen-info-box-container{
  /* background:rgba(255, 255, 255, 0.9); */
  color: black;
  border-radius: 7px;
  padding: 2rem;
  width: 25vw;
  height: 75vh;
  display:block;

  /* overflow:scroll; */
}

li {
  padding-bottom: 0.8rem;
  font-size: .85vh;
  font-size: .85vw;
}                              /* Skal ændre det her maybe?  */
h3{
  font-size: 1.1vh!important;
  font-size: 1.1vw!important;
}

.btn-password-gen{
  margin-top: 1rem;
  width: 100%;
  

}
.password-length-box-container{
  margin-top: 2rem;
}