   <div class="container-fluid d-flex align-items-center justify-content-center ">
      <div class="col-6 password-container white-background"> 
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Random Password" >
      </div>


      <div class="col-6 password-gen-info-box-container white-background" >
        <div class="Cardinfo" >
          <h4 class="text-uppercase fs-5 fw-bolder">
            Tips For Creating and Maintaining Strong Passwords
          </h4>
          <p class="fs-6 fw-normal">
            Creating a strong password is necessary for securing your online accounts and protecting your data from common attack methods. Here are a few guidelines you can follow to increase your password’s strength:
          </p>
          <ul class="fs-6">
            <li> Each password should be a minimum of 8 characters long. The longer, the better</li>
            <li> Use a mixture of uppercase letters, lowercase letters, and numbers. For increased security, you can also utilize commonly accepted symbols.</li>
            <li> Your password should be unique and unrelated to any personal information.</li>
            <li> Generate different passwords for different accounts and devices. Try not to use the same one twice.</li>
            <li> Set reminders to change your passwords regularly, especially for important accounts and information.</li>
            <li> Store your passwords in a secure location. Create storage backups as well.</li>
            <li> Store your passwords in a secure location. Create storage backups as well.</li>
            <li> Don't tell anyone your password.</li>
            
          </ul>
        </div>
      </div>
    </div>
  
