
.correct-chars{
  color: limegreen;
}
.wrong-chars{
  color: crimson;
}
.statistics-container{
  background-color: #343a40!important;
}
.btn-try-again{
  width: 10rem;
}
.statistics-inner-container * {
  margin-top: 2rem;
}
