<div class="statistics-container container-fluid flex-column d-flex align-items-center">
  <h1 class="display-1">
    Typewriter Statistics
  </h1>
  <div class="statistics-inner-container">
    <h1 class="statistics-h">
      20
      <small class="text-muted small">WPM words per minute</small>
    </h1>
    <h3 class="statistics-h">
      20%
      <small class="text-muted">Accuracy</small>
    </h3>
    <h3 class="statistics-h">
      15s
      <small class="text-muted">Selected time</small>
    </h3>
    <h3 class="correct-chars">
      400
      <small class="text-muted">Correct characters</small>
    </h3>
    <h3 class="wrong-chars">
      15
      <small class="text-muted">Wrong characters</small>
    </h3>
    <button class="btn btn-primary btn-try-again">Try again?</button>

  </div>
</div>
