<div class="container">
  <div class="col password-gen-info-box-container align-items-center  white-background" >
    <div class="card-info">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">URL for review</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="reviewURL">
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Company name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="reviewURL">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Title for review</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="reviewTitle">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Review text</label>
          <textarea type="password" class="form-control" id="exampleInputPassword1" placeholder="reviewText"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" (click)="tryAgain()">Submit</button>
      </form>

    </div>
  </div>
</div>
