<div id="website-check" class="container-fluid">
  <div *ngIf="this.showPostReviewForm == false; then showReviews else showPostReview"></div>
  <ng-template #showReviews>
    <div class="d-flex justify-content-center align-content-center">
      <div class="col-md-5 Web-sitecheck-container white-background d-flex align-items-center flex-direction row mt-4">
        <h1>
          Is this site trusted?
        </h1>
        <div class="URL-Website-container">
          <form [formGroup]="websiteForm" class="row form-group">
            <input class="form-control mb-3" placeholder="Insert URL" id="userURL" name="myURL" type="url" required>
            <button type="submit" class="btn-webcheck btn-primary btn-lg fs-4 fw-bold" (click)="changeImgSize()"(click)="getReviewsByUrl()" (click)="getTotalRating()" (click)="getAverageRating()" (click)="ratingScale()">Submit</button>
          </form>
        </div>
        <div class="URL-check-container">
          <div *ngIf="this.reviewFound == true; then showFoundReviews else showCreateNewReview"></div>
            <ng-template #showFoundReviews>
              <div class="review-containers">
                <div>
                  <h1>{{this.displayURLData[0].company.companyName}} <small style="font-size: 20px;">{{this.displayURLData[0].company.companyURL}}</small></h1>
                </div>

                <h4>Anmeldelser: {{this.totalRating}} </h4>
                <div id="ratings">
                  <h4>Total rating: {{this.avrgRatings}} <small class="muted">{{this.ratingScore}}</small></h4>
                </div>
              </div>
              <div class="review-containers" *ngFor="let companyReview of displayURLData">
                <h4 class="review-container-structure d-flex justify-content-between">{{companyReview.reviewTitle}} <small>{{companyReview.reviewDate}}</small></h4>
                <p class="review-container-structure">{{companyReview.reviewText}}</p>
                <p class="review-container-structure">{{companyReview.reviewRating}} ud af 10</p>
                <p class="review-container-structure">Written by user: {{companyReview.user.userID}}</p>
              </div>
              

            </ng-template>
          <ng-template #showCreateNewReview>
            <h3 class="display-5">There is currently not a review of chosen Company, would you like to be the first one to create a new review?</h3>
            <button class="btn btn-primary" (click)="loadPostForms()">Yes please</button>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #showPostReview>
  <app-post-web-review></app-post-web-review>
  </ng-template>
</div>
