<div class="container-fluid d-flex align-items-center justify-content-center ">
  <div class="col-md-3 Web-sitecheck-container white-background">
    <div class="URL-Website-container">
      <form [formGroup]="websiteForm" class="row form-group">
        <input placeholder="Insert URL" id="myURL" name="myURL" type="url" required>
        <button type="submit" class="btn-webcheck btn-primary btn-lg fs-4 fw-bold">Submit</button>
      </form>
    </div>
    <div class="URL-Check-container col-12">

    </div>
  </div>
</div>
  <!--
    <form [formGroup]="websiteForm" class="row form-group" placeholder="Link/URL">
      <input formControlName ="trustsite" type="text" class="form-control">
    </form>
  -->
