<div class="container-fluid">
  <div class="landing-page-message-container d-flex justify-content-center align-items-center h-100 flex-column">
    <div class="landing-page-message-header-container">
      <h4 class="display-1 landing-page-message-header">Welcome to Web Services!</h4>
    </div>
    <div class="landing-page-message-text-container">
      <p class="lead landing-page-message-text">We offer our services for free! Entertaintment and convenience are our top priorities.</p>
    </div>
  </div>
</div>
